canvas {
  height: 25vw;
  width: 45vw;
  margin: 20px 10px;
  border: 5px solid rgba(0, 0, 0, 30%);
  background-color: rgba(0, 0, 0, 40%);
  opacity: 1;
}
div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(https://images.unsplash.com/photo-1475669698648-2f144fcaaeb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  filter: blur(2px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

legend {
  border: 4px solid rgba(8, 18, 105, 0.712);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5vw;
  border-radius: 5px;
  padding: 3px 5px;
}
fieldset {
  display: flex;
  flex-direction: column;
  margin: 5px 5px 5px 5px;
  border: 4px solid rgba(8, 18, 105, 0.712);
  padding: 5px 5px;
  border-radius: 10px;
}
input {
  margin: 10px 10px;
  padding: 5px 5px;
  border-radius: 5px;
  color: black;
  font-size: 1vw;
  height: 5vh;
  width: 20vw;
}
input:hover {
  margin: 10px 10px;
  padding: 5px 5px;
  border-radius: 5px;
  color: white;
  background-color: black;
  font-size: 1.5vw * 10px;
  height: 5vh;
  width: 20vw;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 3vw;
  font-weight: 200;
  font-family: "Cinzel Decorative", cursive;
  position: relative;
  padding: 25px 0px;
  text-shadow: 5px 5px 4px white;
  background-color: rgba(0, 0, 0, 50%);
  border-radius: 10px;
  margin-top: 5px;
}
p {
  font-size: 2vw;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.4),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgba(0, 0, 0, 0.4)
  );
  color: black;
  height: 2vw;
  width: 30vw;
  text-align: center;
  border-radius: 5px;
  padding: 3px 0px 10px 0px;
  margin: 5px 0px;
}
a {
  font-size: 1.5vw;
  color: black;
  text-decoration: none;
}

a:hover {
  font-size: 1.5vw;
  color: black;
  text-decoration: underline;
}

#tagline {
  display: flex;
  justify-content: center;
  height: 3vw;
  width: 100%;
  background-color: black;
  margin-top: 40px;
  margin-bottom: -10px;
  text-align: center;
  padding: 25px 7px 9px 9px;
}
#feature {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  justify-content: space-around;
  height: 5vw;
  padding: 30px 10px 50px 10px;
  margin-bottom: -10px;
  bottom: 0;
  background-color: black;
  color: white;
  width: 100%;
}
#one {
  grid-column: 1;
  grid-row: 1;
  margin: 0px 0px 15px 0px;
}
#two {
  grid-column: 1;
  grid-row: 2;
  margin: 15px 0px 5px 0px;
}
#three {
  grid-column: 2;
  grid-row: 1;
  margin: 0px 0px 15px 0px;
}
#four {
  grid-column: 2;
  grid-row: 2;
  margin: 15px 0px 5px 0px;
}

@media (max-width: 480px) {
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3)
      ),
      url(https://images.unsplash.com/photo-1475669698648-2f144fcaaeb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    filter: blur(2px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  canvas {
    height: 50vw;
    width: 80vw;
    margin: 10px 10px;
    border: 5px solid rgba(0, 0, 0, 30%);
    background-color: rgba(0, 0, 0, 40%);
    opacity: 1;
  }
  input {
    margin: 10px 10px;
    padding: 0px 5px;
    border-radius: 5px;
    color: black;
    font-size: 3vw;
    height: 3vh;
    width: 40%;
  }

  input:hover {
    margin: 10px 10px;
    padding: 0px 5px;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 2.4vw;
    height: 3vh;
    width: 40%;
  }

  legend {
    border: 4px solid rgba(8, 18, 105, 0.712);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 4vw;
    border-radius: 5px;
    padding: 3px 5px;
  }
  fieldset {
    display: flex;
    flex-direction: column;
    margin: 5px 5px 5px 5px;
    border: 4px solid rgba(8, 18, 105, 0.712);
    padding: 5px 5px;
    border-radius: 10px;
  }

  p {
    font-size: 3.5vw;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4),
      rgb(255, 255, 255),
      rgb(255, 255, 255),
      rgba(0, 0, 0, 0.4)
    );
    color: black;
    height: 1vh;
    width: 40vw;
    text-align: center;
    border-radius: 5px;
    padding: 3px 0px 10px 0px;
    margin: 5px 0px;
  }
  a {
    font-size: 3vw;
    color: black;
    text-decoration: none;
  }
  a:hover {
    font-size: 3vw;
    color: black;
    text-decoration: underline;
  }
  h1 {
    width: 100%;
    top: 0;
    text-align: center;
    font-size: 8vw;
    font-weight: 200;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    position: relative;
    padding: 25px 0px;
    text-shadow: 5px 5px 4px lime;
    background-color: rgba(0, 0, 0, 50%);
    border-radius: 10px;
  }

  #tagline {
    height: 4vh;
    width: 100%;
    background-color: black;
    padding: 7px 9px 3px 9px;
    margin-top: 2px;
    margin-bottom: -3px;
  }
  #feature {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    justify-content: space-around;

    height: 20vw;
    margin: -2px 5px -40px 5px;
    padding: 10px 10px;
    bottom: 0;
    background-color: black;
    color: white;
    width: 100%;
  }
  #one {
    grid-column: 1;
    grid-row: 2;
  }
  #two {
    grid-column: 1;
    grid-row: 3;
  }
  #three {
    grid-column: 2;
    grid-row: 2;
  }
  #four {
    grid-column: 2;
    grid-row: 3;
  }
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  padding: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#d_para li {
  padding: 1rem;
  font-size: 1rem;
  font-size-adjust: inherit;
  font-family: "Russo One", sans-serif;
}

#imgs {
  opacity: 1;
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  image-rendering: crisp-edges;
  image-rendering: optimizeQuality;
  image-rendering: pixelated;
  border: 1px solid black;
  box-shadow: 5px 5px 3px 3px black;
  border-radius: 1em;
}

#imgs:hover {
  box-shadow: 6px 6px 5px 5px black;
}

li:hover {
  text-transform: capitalize;
}

@media (min-width: 480px) {
  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;

    padding: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #d_para li {
    padding: 1rem;
    font-size: 1.5rem;
    font-size-adjust: inherit;
    font-family: "Russo One", sans-serif;
  }

  #imgs {
    opacity: 1;
    display: inline-block;
    position: relative;
    height: 20em;
    width: 30rem;
    image-rendering: crisp-edges;
    image-rendering: optimizeQuality;
    image-rendering: pixelated;
    border: 1px solid black;
    border-radius: 1em;
  }
}
